*{
    color: black;
    font-family:monospace;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

body{
    background-color: yellow;
}

.buttons{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 10%;
}

input{
    width: 150px;
    height: auto;
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
}